@font-face {
    font-family: "Source Sans Pro";
    src: url("../font/source-sans-pro/SourceSansPro-Semibold.otf");
}

.root{
    -fx-font-family: "Source Sans Pro";
    -fx-font-weight: Bold;
}

.paneBackground {
    /* -fx-background-color: linear-gradient(to bottom right, #1F2F98, #4ADEDE); */
    -fx-background-color: #539AD0;
}
.paneBackground Label {
    -fx-font-family: "Source Sans Pro";
}
/*Left*/
.navButton {
    -fx-background-color: Transparent;
    -fx-text-fill: #ffff;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 15px;
}

.navButtonHover {
    -fx-background-color: rgba(46, 61, 141, 0.78);
}

.signOutBtn {
    -fx-background-color: #fff;
    -fx-background-radius: 20px;
    -fx-border-color: #0b7fab;
    -fx-border-width: 2.5;
    -fx-border-radius:205px;
    -fx-text-fill: #005bc5;
}

.signOutBtn:hover {
    -fx-background-color: #0b7fab;
    -fx-background-radius: 20px;
    -fx-border-width: 2;
    -fx-border-radius: 20px;
    -fx-text-fill: #fff;
}

.btn {
    -fx-background-color: Transparent;
    -fx-border-color: #005bc5;
    -fx-border-width: 2;
    -fx-border-radius: 5px;
    -fx-text-fill: #005bc5;
    -fx-font-family: "Source Sans Pro";
}

#updateBtn {
    -fx-background-color: #ffa400;
    -fx-border-color: #ffa400;
    -fx-text-fill: #fff;
    -fx-border-width: 2.5;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
}

#addBtn {
    -fx-background-color: #028f76;
    -fx-border-color: #028f76;
    -fx-text-fill: #fff;
    -fx-border-width: 2.5;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
}

#deleteBtn {
    -fx-background-color: #ae2d3c;
    -fx-border-color: #ae2d3c;
    -fx-text-fill: #fff;
    -fx-border-width: 2.5;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
}

#clearBtn {
    -fx-background-color: #483078;
    -fx-border-color: #483078;
    -fx-text-fill: #fff;
    -fx-border-width: 2.5;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
}

/*Right*/
.bg-white {
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.bg-white Label {
    -fx-text-fill: #1e8bc3;
    -fx-font-family: "Source Sans Pro";
}

.bg-white TextField {
    -fx-background-color: Transparent;
    -fx-border-color: #005bc5;
    -fx-border-width: 2;
    -fx-border-radius: 20px;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 13px;
}
.date-picker {
    -fx-background-color: Transparent;
    -fx-border-color: #005bc5;
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-family: "Source Sans Pro";
}
.date-picker > .text-field {
    -fx-background-radius: 20;
}
.date-picker .arrow-button {
    -fx-background-color: #005bc5;
    -fx-background-radius: 20;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}


/*AddMovie*/
.addMovieBtn {
    -fx-text-fill: #fff;
    -fx-background-color: #005bc5;
    -fx-background-radius: 5px;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
}

.addMovieBtn#clear {
    -fx-text-fill: #fff;
    -fx-background-color: #483078;
    -fx-background-radius: 5px;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
}
.searchBar {
    -fx-background-color: Transparent;
    -fx-border-width: 2;
    -fx-border-radius: 20px;
}
/*Screening*/
#txtFieldScreen {
    -fx-border-width: 2;
    -fx-border-radius: 20px;
}
/*BOOKING*/
 #txtFieldCus{
     -fx-border-width: 2px;
     -fx-border-radius: 20px;
 }
/*Table*/
.table-view {
    -fx-border-radius: 10px;
    -fx-fill: #fff;
    overflow: hidden;
}

.table-view .column-header-background {
    /* -fx-background-color: linear-gradient(to bottom, #1F2F98, #4ADEDE); */
    -fx-background-color: #539AD0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-font-family: "Source Sans Pro";
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: Transparent;
    -fx-size: 50px;
    -fx-fill: #fff;
}

.table-view .column-header .label {
    -fx-text-fill: #fff
}

/* DASH-TABLE */
.dash-table {
    -fx-background-color: #fff;
    /* -fx-border-color: #5062ab; */
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

/*CUSTOMER*/

.info-card {
    -fx-border-color: #3374a2;
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-border-width: 2px;
}

.card-customer {
    -fx-background-color: Transparent;
    -fx-border-color: #005bc5;
    -fx-border-width: 2;
    -fx-border-radius: 20px;
}

.seat {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #000000;
    -fx-border-width: 0.5;
}

.chooseSeat {
    -fx-background-color: #028f76;
    -fx-border-color: #000000;
    -fx-border-width: 0.5;
}

.bookSeat {
    -fx-background-color: #9e0c39;
    -fx-border-color: #000000;
    -fx-border-width: 0.5;
}

/*........................................*/
.card {
    /* -fx-background-color: linear-gradient(to right, #2b428c, #2e58ab); */
    -fx-background-radius: 10px;
    overflow: hidden;
}

.box {
    justify-content: center;
}

.font-dashboard-summary {
    -fx-font-family: "Source Sans Pro";
}